################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Qwiz/bin/Debug
/Qwiz/bin/Release
/Qwiz/obj/Debug
/.vs/Qwiz/v16/.suo
bin
obj
